
 /**{
    border-style: solid;
    color:red;
 }*/

#primeracapa{
    background-color:white;
    width:996px;
    height:840px;
    }
 #telefono{
    width: 54px;
    height: 50px;
    display: inline-block;
    margin-left: 251px;
    margin-top: 13px;
    margin-right: -29px;
 }
 #derecha{
     width:690px;
     height:1000px;
     display:inline-block;
     vertical-align: top;
 }
 #arribaderecha{
     width:690px;
     height: 83px;
 }
 #otrohr{
    height: 2px;
    background-color: #cecece;
    margin-left: -212px;
 }
.barraglobo{
    background-color: #457dad;
    width: 970px;
    height: 30px;
    margin-left: 26px;
    padding: 15px 0px 8px 0px;
    background: radial-gradient(#4F81AB, #24669F)
    }
 .logo{
    width:130px;
    height:130px;
    margin-top: 20px;
    margin-left: 12px;
    margin-bottom: -30px;
    display:inline-block;
    } 
.top{
    margin-top: -25px;
}

.top h1{
    margin: 5px 0px -100px 6px;
    color:black;
    display:inline-block;
    vertical-align: 12px;
    font-size:42px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    }

span,#upparagraph h2,.middleparagraph h1,#ultimo h2 {
        color:#2768a0;
    }
.barraglobo h2{
    margin: 5px 0px 0px 18px;
    color:#f8fafc;
    display:inline;
    font-size:28px;
    font-family: Arial, Helvetica, sans-serif;
    }

#navbarleft{
    width: 248px;
    height: 245px;
    font-size:15px;
    background-color: #f8fafc;
    display: inline-block;
    margin: 0px 20px 20px 27px;
    background-image: linear-gradient(#d6d9db , #f8fafc 50%);
    }

.losbotones .button1{
    background-color: #457dad; 
    color: white;
    padding: 4px 10px;
    margin: 4px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 200px;
    height: 36px;
    margin-top: 30px;
    display: block;
    border-radius:5px;
    border-bottom: none;
    box-shadow: 1px 1px #8b8f92;

}
.losbotones .button2{
    background-color: #ca5c13f5; 
    color: white;
    padding: 4px 10px;
    margin: 4px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 200px;
    height: 36px;
    display: block;
    border-radius:5px;
    box-shadow: 1px 1px #8b8f92;
}
input#botton{
    font-size:22px;
    color:whitesmoke;
    background-color:lightskyblue;
    margin-left:28px;
    margin-bottom:20px;
    width: 198px;
    height: 51px;
    border-radius:10px;
}
#hr  {
    height: 2px;
    background-color: #cecece;
    margin-top: 38px;
    }

#navbarleft2 h2{
    width: 170px;
    height: 70px;
    color:#f8fafc;
    display:inline-block;
    text-align: center;
    font-size:20px;
    vertical-align: 210px;
    margin: 28px -12px 2px -128px;
    }

#navbarleft2 button{
    width:50px;
    background-color:#52d4cd;
    margin:5px;
    color: aliceblue    ;
    height: 29px;
    box-shadow: 2px 2px #040d14;
    }

#navbarleft2 .azul{
    width: 220px;
    height: 320px;
    margin-left: 2px;
    margin-top: 30px;
    }
#navbarleft2 .ninja{
    width: 90px;
    height: 120px;
    vertical-align: 78px;
    margin-left: 70px;
    }

#dnsection{
    width: 200px;
    height: 79px;
    background-color: #f8fafc;
    display: inline-block;
    vertical-align: top;
    /*background-image: linear-gradient(#d6d9db, #f8fafc);*/
    padding-left:0px;
}

img.casita{
    margin: 5px 0px 0px 10px;
    width: 23px;
    height: 23px;
    background-color: #f8fafc;
    vertical-align: top;
    display: inline-block;
    }
.normal{
    width: 20px;
    height: 24px;
    font-size: 12px;
    vertical-align: top;
    display: inline-block;
    margin: 10px 0px 0px 10px;
}


.dnsection2{
    width: 483px;
    height: 75px;
    font-size:6px;
    vertical-align: top;
    display:inline-block; 
    }

.dnsection2 img{
    margin: 5px 0px 0px 20px;
    width:30px;
    height: 30px;
    background-color: #f8fafc;
    margin-left: 49px;
    vertical-align: top;
    display:inline-block;
    }

.dnsection2 h1{
    margin: 5px 0px 0px 40px;
    color:#21d6cd;
    display:inline-block;
    font-size:30px;
    vertical-align: top;
    }


.dnsection2 h5 {
    margin: 5px 0px 0px 40px;
    color:#00060c;
    font-size: 10px;
    vertical-align: top;
}

#upparagraph{
    width: 695px;
    height: 249px;
    margin-bottom:60px;
    
    }

.elcliente{
    width: 256px;
    height: 91px;
    margin-left: 251px;
}
#upparagraph h2{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    }

.theleftlist li{
    text-align:center;
    padding-bottom: 6px;
    color:#ceb63f;
    font-size:18px;
    display:inline-block;    
    }
    


.middleparagraph{
    width: 679px;
    height: 24px;
    display: inline-block;

}   

.dentro{
    text-align:left;
    width: 20px;
    height: 24px;
    display:inline-block;
    }  


.big3{
    width: 125px;
    height: 121px;
    display: inline-block;
}

#horario{
    display:inline-block;
}
#ultimo{
    width: 766px;
    height: 192px;
    border:7px solid #2768a0;
    margin-top:20px;
    padding-left:5px;
}
.thebig3{
    display:inline-block;
}
#navbarleft2{
    background:url('img/blue.png');
    z-index:-3;

    
}